@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,800&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@400;600;700;800;900&family=Lexend+Peta:wght@400;700;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&family=Vina+Sans&display=swap');
@font-face { font-family: Gothic League; src: url('/assets/fonts/LeagueGothic-1.601/static/OTF/LeagueGothic-Regular.otf'); } 
html{
    overflow-x: hidden;
}
.tournament-title{
    font-size: 1.5rem;
    padding-left: 0px;
    margin-left: 0px;
}

main span img{
    height: 35px;
}
.game-card{
    margin: 10px 1rem 10px 1rem;
    padding: 15px 30px; 
    border-radius: 10px;
    border: solid rgba(17, 63, 126,0.5);
}
.game-card:hover{
    box-shadow: 0px 8px 32px 0 rgba( 31, 38, 135, 0.8);
    border-radius: 10px;
}
.header-banner{
    background-image: url('../image/player/dust2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
}
.title-schedule{
    font-family: 'Gothic League';
    font-size: 3rem;
}
.championship{
    padding-top: 10px;
    font-weight: bolder;
}
.live-event{
    width: 70%;
    margin: auto;
}
.match-detail-schedule{
    padding: 0px 30px 0px 30px;
}
.match-schedule{
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    background-image: url('../image/player/csgo-bg.jpg');
    background-position: center;
}
.team-container{
    height: 200px;
}
.trans-header{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
}
@media (max-width:600px) {
    .stat p{
        font-size: 10px;
        padding: 0px;
        margin: 3px;
    }
    .map-stats{
        width: 100%;
        padding: 10px;
    }
}

@media (min-width:700px){
    .map-stats{
        padding-left: 10rem;
    }
}

.most-played{
    height: 30px;
}
.score{ 
    padding: 10px;
    height: fit-content;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: rgba(17, 63, 126,0.5);
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
}
@media (max-width:600px){
    .team-container{
        padding: 0;
        height: 140px;
    }
    .live-event{
        width: 100%;
    }       
    .match-detail-schedule{
        padding: 0px;
    }   
    .match-schedule{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .match-detail-schedule img{
        padding: none;
        border-radius: 30px;
    }
    .game-card{
        width: 90%;
    }
}